@font-face {
  font-family: Catamaran;
  src: url("Fonts/Catamaran-Light.ttf");
}
@font-face {
  font-family: Catamaran-Medium;
  src: url("Fonts/Catamaran-Medium.ttf");
}
@font-face {
  font-family: Catamaran-Light;
  src: url("Fonts/Catamaran-Light.ttf");
}
@font-face {
  font-family: Catamaran-Bold;
  src: url("Fonts/Catamaran-Bold.ttf");
}
body {
  margin: 0;
  font-family: Catamaran;
}
footer > .menu li {
  list-style: none;
  margin: 5px auto;
  text-align: left;
}
h1 {
  margin-top: 0 !important;
}
p{
  margin:0;
}
.logo img {
  width: 100%;
}
.desck_logo {
  font-size: 1.6em;
  width: 100% !important;
  color: #fff9;
  font-family: Catamaran-Light;
  display: block;
}
.content_img_bottom img {
  width: 100%;
}
.content_img_bottom {
  width: 52%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin-top: 1em !important;
  font-size: 1.6em !important;
  margin: 0.67em 0;
  font-family: Catamaran !important;
}
#term_conditions {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.title_footer {
  width: 100%;
  color: white;
  font-size: 2.5em;
  font-weight: 900;
  background-color: #60269e;
}
.terminos {
  margin-left: 37px;
}
#term_conditions {
  margin-bottom: -10px;
}
.terminos span {
  color: white;
  margin-left: 0%;
  border-radius: 50%;
  border: 3px solid white;
}
.title_footer p {
  width: 29%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px !important;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  font-family: Catamaran;
}
.terminostext {
  background: #3f1b61;
  color: white;
  /* border-radius: 10px; */
  padding: 20px;
  width: 100%;
  height: auto;
  text-align: left;
}
.terminostext li {
  margin: 10px;
}
.terminostext2 {
  background: #000000a6;
  color: white;
  /* border-radius: 10px; */
  padding: 20px;
  width: 100%;
  height: auto;
  font-family: Catamaran;
}
.terminostext2 li {
  margin: 10px;
}

.section_1,
.section_4 {
  background-color: #ff0062;
}
.header_tuenti {
  display: -webkit-box;
  width: 100%;
}
.left_header {
  width: 50%;
  display: -webkit-box;
  text-align: center;
}
.right_header {
  width: 50%;
  display: -webkit-box;
}
.content_men {
  width: 50%;
  display: grid;
}
.content_men img {
  width: 100%;
}
.content_whats p {
  font-size: 5em;
  margin-top: 52%;
  color: white;
  height: fit-content;
  margin-left: -19%;
  line-height: 100%;
  text-align: left;
  font-family: Catamaran-Bold;
}
.content_whats {
  width: 50%;
  display: -webkit-box;
  margin-left: -8%;
}
#img_whats {
  width: 60%;
  margin-top: 50%;
}
.content_in_left {
  width: 50%;
  display: -webkit-box;
  margin-left: auto;
}
.content_in_right {
  width: 50%;
  display: block;
  margin-left: 10%;
  margin-right: auto;
}
.text_img p {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 2em;
  margin-top: 21%;
  margin-bottom: 0;
  padding-left: 7%;
  line-height: 81%;
  font-family: Catamaran-Bold;
}
.img_header_r img {
  width: 100%;
}
.title_combos {
  text-align: center;
  font-size: 2.8em;
  color: #773dbc;
}
.img_combos {
  width: 100%;
}
.content_img {
  width: 50%;
  display: -webkit-box;
  margin-left: auto;
  margin-right: auto;
}
.content_img div {
  width: 30%;
  margin-top: 5%;
  padding-left: 2%;
}
.content_img div img {
  width: 100%;
}
.left_text p {
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5em;
  margin-top: 2%;
  font-family: Catamaran;
  color: #773dbc;
}
.icons_and_text {
  width: 30%;
  display: -webkit-box;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #773dbc;
  border-radius: 25px;
  padding: 0 1%;
}
.descript_whats,
.calendario_info,
.phone_text {
  width: calc(100% / 3);
  display: -webkit-box;
}
.img {
  width: 8vh;
  height: 8vh;
}
.text {
  width: 50%;
  margin-top: 15%;
}
.descript_whats p,
.calendario_info p,
.phone_text p {
  margin: 0;
  font-size: 71%;
  line-height: 90%;
  text-align: left;
  font-family: Catamaran-Bold;
  color: #773dbc;
  display: table;
  vertical-align: middle;
}
.content_buttons {
  width: 100%;
  display: -webkit-box;
  padding: 1% 0%;
}
.content_action {
  width: 100%;
}

.content_description {
  width: 60%;
  margin: auto;
  padding: 1em;
  padding-left: 4.7%;
}
.content_description p {
  text-align: left;
  margin: 0;
  color: #773dbc;
  font-family: Catamaran-Medium;

}
.content_buttons {
  background-color: #e6e7e8;
  padding: 4% 0;
}

.block {
  height: auto;
  width: 10%;
}
.button1 {
  margin-left: auto;
  margin-right: auto;
  background-color: #ff0066;
}
.button2 {
  margin-left: auto;
  margin-right: auto;
  background-color: #773dbc;
}
.button1, .button2 {
  border: 1px solid;
  width: 25%;
  font-size: 3em;
  font-family: Catamaran-Bold;
  color: white;
  padding: 3% 4%;
  border-radius: 25px;
  text-align: center;
  line-height: 0.5;
}
a {
  text-decoration: none;
}
.content_video {
  display: flex;
  justify-content: center;
  background-color: #ff0066;
}
.video {
  display: block;
  width: 50%;
  height: 60vh;
  height: calc(50vw * 0.56222 + 10vh);
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.video iframe {
  height: 60vh;
  height: calc(50vw * 0.56222);
  margin-top: 0vh;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.content_preguntas_f {
  display: -webkit-box;
}
.content_preguntas_f p {
  text-align: center;
  color: #773dbc;
  font-size: 42px;
  margin-left: auto;
  margin-right: auto;
  font-family: Catamaran;
}
.content_preguntas_f span {
  color: #773dbc;
  font-size: 3em;
}
.glyphicon {
  font-size: 1em !important;
}
.flecha-down {
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent; /* izquierda flecha */
  border-right: 25px solid transparent; /* derecha flecha */
  border-top: 25px solid #00ff00; /* base flecha y color*/
  font-size: 0px;
  line-height: 0px;
}
.arrow_img {
  width: 10%;
}
.content_preguntas_f {
  margin-top: 1em;
}
footer {
  background-color: #60269e;
}
footer {
  background-color: #60269e;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  border-top: 2px solid white;
}
footer .logo {
  width: 20%;
  color: white;
  font-weight: 700;
}
footer > .menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
footer > .menu li {
  list-style: none;
  margin: 5px auto;
}
footer > .menu li a {
  color: white;
  text-decoration: none;
}

.redes {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.redes a {
  width: 24%;
  margin: 5px;
}
.redes img {
  width: 100%;
}

.icon_social_footer {
  background-color: #fff;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  footer .logo img {
    width: 50%;
  }
  .content_img_bottom {
    width: 90%;
  }
  #img_whats {
    width: 120%;
    margin-top: 7%;
  }
  .left_header {
    width: 100%;
    display: -webkit-box;
    text-align: center;
  }
  .content_in_left {
    width: 100%;
    display: -webkit-box;
  }
  .right_header {
    width: 40%;
    display: -webkit-box;
    position: absolute;
    left: 27%;
    margin-top: 10%;
  }
  .glyphicon {
    cursor: pointer;
  }
  .content_whats p {
    font-size: 3em;
    margin-top: -102%;
    color: white;
    height: fit-content;
    margin-left: 128%;
    line-height: 84%;
    text-align: left;
  }
  .text_img p {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1em;
    margin-top: 7%;
    margin-bottom: 0;
    padding-left: 7%;
    line-height: 81%;
  }
  h1 {
    font-size: 50% !important;
    margin: 0.67em 0;
  }
  .content_img div {
    width: 100% !important;
    /* margin-top: 5%; */
  }
  .content_img {
    width: 50%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
  .content_img div img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .content_whats {
    display: table-caption;
  }
  .content_whats {
    width: 50%;
    margin-left: -37%;
  }
  .icons_and_text {
    width: 90%;
    display: -webkit-box;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #773dbc;
    border-radius: 25px;
    padding: 0 1%;
  }

  .descript_whats p,
  .calendario_info p,
  .phone_text p {
    margin: 0;
    font-size: 60%;
    line-height: 103%;
    text-align: left;
    font-family: Catamaran-Bold;
    color: #773dbc;
    display: table;
    vertical-align: middle;
  }
  .block {
    height: auto;
    width: 5%;
  }
  .button1,
  .button2 {
    border: 1px solid;
    width: 100%;
    font-size: 1.7em;
    font-family: Catamaran;
    color: white;
    padding: 1% 4%;
    border-radius: 10px;
    font-weight: 900;
    text-align: center;
  }
  .content_action {
    width: 45%;
  }
  .button1 {
    margin-left: 10%;
    background-color: #ff0066;
    margin-right: auto;
    display: block;
  }

  .video {
    width: 90%;
    height: 38vh;
    height: calc(90vw * 0.56222 + 10vh);
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .video iframe {
    height: 28vh;
    height: calc(90vw * 0.56222);
    margin-top: 0vh;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  
  .img {
    width: 5vh;
    height: 6vh;
    margin-top: 7%;
  }
  .text {
    width: 50%;
    margin-top: 10%;
  }
  .content_in_right {
    width: 100%;
    display: block;
    margin-left: 43%;
    margin-right: auto;
  }
  .content_preguntas_f p {
    text-align: center;
    color: #773dbc;
    font-size: 1em;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  #uno {
    content: url("artes/promo3.png");
  }
  #dos {
    content: url("artes/promo1.png");
  }
  #tres {
    content: url("artes/promo2.png");
  }
  .title_footer p {
    text-align: center;
    margin-bottom: 10px !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    font-family: Catamaran;
  }
  .terminos {
    margin-left: 1%;
  }
  .button2 {
    margin-left: auto;
    margin-right: auto;
    background-color: #773dbc;
  }
  .button1 {
    margin-left: auto;
    background-color: #ff0066;
    margin-right: auto;
    display: block;
  }
  .content_description {
    width: 90%;
    margin: auto;
  }
  .content_description p {
    text-align: left;
    margin: 0;
    color: #773dbc;
    font-family: Catamaran-Medium;

  }
  .left_text p {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.6em;
    margin-top: 6%;
    font-family: Catamaran;
    color: #773dbc;
  }
  .img_header_r img {
    content: url("artes/mensaje_mobile.png");
  }
  .content_men img {
    width: 69%;
    content: url("artes/tel.png");
  }
  .content_img_bottom {
    width: 90%;
  }
  .content_men img {
    width: 90%;
    margin-left: 0%;
  }
  #img_whats {
    width: 40%;
    margin-top: 10%;
    margin-left: 76%;
  }
  .left_header {
    width: 100%;
    display: -webkit-box;
    text-align: center;
  }
  .content_in_left {
    width: 100%;
    display: -webkit-box;
  }
  .right_header {
    width: 50%;
    display: -webkit-box;
    position: absolute;
    left: 27%;
    margin-top: 10%;
  }
  .glyphicon {
    cursor: pointer;
  }
  .content_whats p {
    font-size: 2em;
    margin-top: 20%;
    color: white;
    height: fit-content;
    margin-left: 20%;
    line-height: 84%;
    text-align: left;
  }
  .text_img p {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.2em;
    margin-top: 33%;
    margin-bottom: 0;
    padding-left: 7%;
    line-height: 81%;
  }
  h1 {
    font-size: 50% !important;
    margin: 0.67em 0;
  }
  .content_img div {
    width: 100% !important;
    margin-top: 0%;
  }
  .content_img {
    width: 50%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
  .content_img div img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .content_whats {
    width: 65%;
    margin-left: -37%;
  }
  .content_whats {
    width: 50%;
    margin-left: -37%;
  }
  .icons_and_text {
    width: 90%;
    display: -webkit-box;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #773dbc;
    border-radius: 25px;
    padding: 0 1%;
  }

  .descript_whats p,
  .calendario_info p,
  .phone_text p {
    margin: 0;
    font-size: 60%;
    line-height: 103%;
    text-align: left;
    font-family: Catamaran-Bold;
    color: #773dbc;
    display: table;
    vertical-align: middle;
  }
  .block {
    height: auto;
    width: 5%;
  }
  .button1,
  .button2 {
    border: 1px solid;
    width: 60%;
    font-size: 1.5em;
    font-family: Catamaran-Bold;
    color: white;
    padding: 4% 4%;
    border-radius: 10px;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
  }
  .content_action {
    width: 100%;
  }
  .button1 {
    margin-left: auto;
    background-color: #ff0066;
    margin-right: auto;
    display: block;
  }
  .video {
    width: 85%;
    height: 38vh;
    height: calc(100vw * 0.56223 + 5vh);
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .video iframe {
    height: calc(85vw * 0.56222);
    margin-top: 0vh;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  
  .img {
    width: 5vh;
    height: 6vh;
    margin-top: 7%;
  }
  .text {
    width: 50%;
    margin-top: 10%;
  }
  .content_in_right {
    width: 100%;
    display: block;
    margin-left: 43%;
    margin-right: auto;
  }
  .content_preguntas_f p {
    text-align: center;
    color: #773dbc;
    font-size: 2em;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
  }
  .title_footer {
    width: 100%;
    color: white;
    font-size: 1.8em;
    font-weight: 900;
    background-color: #60269e;
  }
  .text_img {
    margin-top: 25%;
  }
}
@media only screen and (min-width: 1240px) and (max-width: 1600px) {
  .title_footer p {
    width: 50% !important;
    font-weight: 100 !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    font-family: Catamaran;
  }
  .content_in_left {
    width: 50%;
    display: -webkit-box;
    margin-left: auto;
    margin-right: 5%;
  }
  .button1, .button2 {
    border: 1px solid;
    width: 25%;
    font-size: 3em;
    font-family: Catamaran-Bold;
    color: white;
    padding: 3% 4%;
    border-radius: 25px;
    text-align: center;
    line-height: 0.5;
  }
  .content_whats p {
    font-size: 4em;
    margin-top: 52%;
    color: white;
    height: fit-content;
    margin-left: -19%;
    line-height: 100%;
    text-align: left;
    font-family: Catamaran-Bold;
  }
  .content_men {
    width: 56%;
    display: grid;
    margin: 4% 0;
  }
  #img_whats {
    width: 60%;
    margin-top: 50%;
  }
  .content_whats {
    width: 50%;
    display: -webkit-box;
    margin-left: -15%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) and (orientation: landscape) {
  .content_men {
    width: 60%;
    display: grid;
  }
  .text_img p {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.6em;
    margin-top: 21%;
    margin-bottom: 0;
    padding-left: 7%;
    line-height: 81%;
    font-family: Catamaran-Bold;
  }
  .content_in_left {
    width: 50%;
    display: -webkit-box;
    margin-left: auto;
    margin-right: 8%;
  }
  .content_whats p {
    font-size: 3em;
    margin-top: 52%;
    color: white;
    height: fit-content;
    margin-left: -19%;
    line-height: 100%;
    text-align: left;
    font-family: Catamaran-Bold;
  }
  .title_footer p {
    width: 39%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    font-family: Catamaran-Bold;
  }
  .video {
    width: 70%;
    height: 55vh;
    height: calc(70vw * 0.56222 + 10vh);
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .video iframe {
    height: 45vh;
    height: calc(70vw * 0.56222);
    margin-top: 0vh;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .content_img_bottom {
    width: 90%;
  }
  .icons_and_text {
    width: 40%;
    display: -webkit-box;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #773dbc;
    border-radius: 25px;
    padding: 0 1%;
  }
  .button1,
  .button2 {
    border: 1px solid;
    width: 65%;
    font-size: 3em;
    font-family: Catamaran;
    color: white;
    padding: 1% 4%;
    border-radius: 25px;
    font-weight: 900;
    text-align: center;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1025px) and (orientation: portrait) {
  .content_men {
    width: 70%;
    display: grid;
  }
  .content_in_left {
    width: 50%;
    display: -webkit-box;
    margin-left: auto;
    margin-right: 8%;
  }

  .title_footer p {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    font-family: Catamaran-Bold;
  }
  .content_whats p {
    font-size: 2em;
    margin-top: 70%;
    color: white;
    height: fit-content;
    margin-left: -12%;
    line-height: 104%;
    text-align: left;
  }
  .content_img_bottom {
    width: 90%;
  }
  .content_img {
    width: 80%;
    display: -webkit-box;
    margin-left: auto;
    margin-right: auto;
  }
  .content_in_right {
    width: 50%;
    display: block;
    margin-left: 18%;
    margin-right: auto;
  }
  .text_img {
    margin-top: 20%;
  }
  .icons_and_text {
    width: 50%;
    display: -webkit-box;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #773dbc;
    border-radius: 25px;
    padding: 0 1%;
  }
  .img {
    width: 4vh;
    height: 5vh;
  }
  .button1,
  .button2 {
    border: 1px solid;
    width: 75%;
    font-size: 3em;
    font-family: Catamaran;
    color: white;
    padding: 1% 4%;
    border-radius: 25px;
    font-weight: 900;
    text-align: center;
  }

  .video {
    width: 70%;
    height: 40vh;
    height: calc(70vw * 0.56222 + 10vh);
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .video iframe {
    height: 30vh;
    height: calc(70vw * 0.56222);
    margin-top: 0vh;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  
  footer > .menu li {
    list-style: none;
  }
  footer .menu ul {
    width: 100%;
    margin: 0 auto;
    position: relative;
    align-items: center;
  }
  .center {
    text-align: center;
  }
  .logo img {
    width: 100%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 770px) and (orientation: portrait) {
  .content_whats p {
    font-size: 2em;
    margin-top: 60%;
    color: white;
    height: fit-content;
    margin-left: -12%;
    line-height: 84%;
    text-align: left;
  }
  .button1,
  .button2 {
    border: 1px solid;
    width: 85%;
    font-size: 3em;
    font-family: Catamaran;
    color: white;
    padding: 1% 4%;
    border-radius: 25px;
    font-weight: 900;
    text-align: center;
  }
  footer {
    background-color: #60269e;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border-top: 2px solid white;
  }
}
@media only screen and (min-width: 600px) and (max-width: 850px) and (orientation: landscape) {
  .content_in_left {
    width: 50%;
    display: -webkit-box;
    margin-left: auto;
    margin-right: 12%;
  }
  .content_men {
    width: 60%;
    display: grid;
  }
  .title_combos {
    text-align: center;
    font-size: 1.5em;
    color: #773dbc;
  }
  .left_text p {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5em;
    margin-top: 2%;
    font-family: Catamaran;
    color: #773dbc;
  }
  .content_description {
    width: 70%;
  }
  .content_description p {
    text-align: left;
    margin: 0;
    color: #773dbc;
    font-family: Catamaran-Medium;

  }
  .content_img_bottom {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .button1 {
    width: 50vh;
  }
  .content_whats p {
    font-size: 2em;
    margin-top: 54%;
    color: white;
    height: fit-content;
    margin-left: -12%;
    line-height: 84%;
    text-align: left;
  }
  .text_img p {
    width: 110%;
    text-align: left;
    color: white;
    font-size: 1.5em;
    margin-top: 13%;
    margin-bottom: 0;
    padding-left: 19%;
    line-height: 81%;
  }
  .content_in_right {
    width: 60%;
    display: block;
    margin-left: 0%;
    margin-right: auto;
  }
  .img_header_r img {
    width: 100%;
  }
  .img_header_r {
    margin-left: 15%;
  }
  .icons_and_text {
    width: 60%;
    display: -webkit-box;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #773dbc;
    border-radius: 25px;
    padding: 0 1%;
  }
  .img {
    width: 13vh;
    height: 14vh;
  }
  .text {
    width: 50%;
    margin-top: 8%;
  }
  .button1,
  .button2 {
    border: 1px solid;
    width: 60%;
    font-size: 2em;
    font-family: Catamaran-Bold;
    color: white;
    padding: 1% 4%;
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
  }
  .title_footer p {
    width: 59%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    font-family: Catamaran-Bold;
  }
  .block {
    height: auto;
    width: 10%;
  }
  footer .menu ul {
    width: 100%;
    margin: 0 auto;
    position: relative;
    align-items: center;
  }
  center {
    text-align: center;
  }
}
@media only screen and (max-device-width: 667px) and (orientation: landscape) {
  footer .logo {
    width: 50%;
    margin: 20px auto;
    text-align: center;
  }
  .redes {
    width: 50%;
    margin: 0 auto;
  }
  footer > .menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
  footer .logo {
    width: 50%;
    margin: 20px auto;
    text-align: center;
  }
  .redes {
    width: 50%;
    margin: 0 auto;
  }
  footer > .menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  footer .logo img {
    width: 100%;
  }
}
@media only screen and (min-width: 150px) and (max-width: 667px) and (orientation: portrait) {
  footer > .menu li {
    list-style: none;
    margin: 5px auto;
    text-align: center;
  }
  center {
    text-align: center;
    padding-left: 20%;
  }

  footer .logo {
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }

  footer .logo img {
    width: 100%;
  }

  footer .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  footer .menu ul {
    width: 100%;
    margin: 0 auto;
    position: relative;
    align-items: center;
    left: -40px;
    margin: 15px auto;
  }
  footer .menu ul li {
    width: 100%;
    margin: 0 auto;
  }
  .redes {
    width: 100%;
    margin: 0 auto;
  }
  footer .logo img {
    width: 100%;
  }
}
@media only screen and (orientation: landscape) and (max-width: 570px) {
  #img_whats {
    width: 150%;
    margin-top: 100%;
    margin-left: 87%;
  }
  .content_whats p {
    font-size: 3em;
    margin-top: -140%;
    color: white;
    height: fit-content;
    margin-left: 256%;
    line-height: 84%;
    text-align: left;
  }
  .title_combos {
    text-align: center;
    font-size: 4.5em;
    color: #773dbc;
  }
  .video {
    width: 68%;
    height: 78vh;
    height: calc(68vw * 0.56222 + 5vh);
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .video iframe {
    margin-top: 0vh;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 68vh;
    height: calc(68vw * 0.56222);
  }
  .text_img p {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.2em;
    margin-top: 40%;
    margin-bottom: 0;
    padding-left: 7%;
    line-height: 81%;
  }
  
}
.col-sm{
  display: block;
  text-align: center;
  width: calc(100%/4);
}
.why_img_1{
  width: 20%;
  padding-bottom: 5%;
}
.title p {
  padding-top: 40px;
  text-align: center;
  font-size: 41px;
  font-family: Catamaran, sans-serif;
  font-weight: 700;
}
.description_why{
  text-align: center;
  font-size: 1.7em;
  margin-bottom: 1em;
  font-weight: 400;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row{
  margin: 0 !important;
}
.title , #title_tt{
  font-family: Catamaran, sans-serif;
  font-weight: 900 !important;
  font-size: 20px;
}
.description ,#mind_text{
  font-size: 20px;
  padding: 5px;
  font-weight: 400;
}
.slogan ,#text_purple{
  font-family: Catamaran, sans-serif;
  font-weight: 800;
  font-size: 20px;
  color:#582e97;
}
.why_content{
  background-color: #e6e7e8;
  border-top: 5px solid #fff;
  padding-bottom: 40px;
}
.tuenti_promos{
  display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.col_slick{
  display: flex !important;
}
img.img_why {
  width: auto !important; 
  margin-left: auto !important;
  margin-right: auto !important;
  height: 77px;
}
.content_description{
  font-size: 1.77em;
}
@media only screen and (max-width: 800px){
  .title_combos h1{
    font-size: 1em !important;
  }
}
.title_footer p , .content_preguntas_f p{
  font-size: 42px !important;
  font-weight: 100;
}
#terminos2{
  margin-left: 65px; 
}
#force_none{
  display: none;
}
@media only screen and (max-width: 800px){
  #title_tt{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 16px !important;
    
  }
  .slick_half{
    width: 50%;
  }
  #mind_text{
    font-size: 16px !important;
    padding-left: 0;
  }
  .description_why{
    font-size: 1em;
  }
  .title p{
    font-size: 35px;
  }
  #text_purple{
    font-size: 16px !important;
  }
  #terminos2{
    margin-left: 19px;
  }
  .tuenti_promos{
    display: none !important;
  }
  #force_none {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .title_footer p , .content_preguntas_f p{
    font-size: 25px !important;
  }
  .content_description{
    font-size: 1em;
    margin-left: 0;
    padding-left: 7%;
  }
}
.mobil{
  display: none;
}
@media only screen and (max-width: 1080px){
  .mobil{
    display: block;
  }
  .img-pc{
    display: none;
  }
}
.text-mas{
  font-family: Catamaran-Bold;
  color: #f84c64;
  font-size: 4em;
  text-align: center;
}
.new-combo{
  font-family: Catamaran;
  font-weight: 600;
  background-color: #7a5fbc;
  color: white;
  text-align: center;
  width: fit-content;
  padding: 4px 5px;
  border-radius: 4px;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}